<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="SimpleStringExtractor" class="com.app.extractor.AlphaNumericExtractor">
		<property name="fileLocation" value="D://deepak"/>
	</bean>
	<bean id="AdvanceStringExtractor" class="com.app.extractor.AdvanceStringExtractor">
		<property name="fileLocation" value="D://deepak"/>
	</bean>

	<bean id="log4jInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod">
			<value>org.springframework.util.Log4jConfigurer.initLogging</value>
		</property>
		<property name="arguments">
			<list>
				<value>classpath:log4j-config.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>messages</value>
		</property>
	</bean>
</beans>